@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Slabo');

.overlay {
  background-color: black;
  height: 100vh;
}

.hero-image-container {
  position: relative;
  height: 100vh;
}

.hero-image {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.hero-image-body {
  color: goldenrod;
}

.hero-image-title {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 4px solid transparent;
  font-family: 'Source Sans Pro', 'Slabo', 'serif';
  min-width: 2.2rem;
  font-size: 3rem;
}

@media screen and (min-width: 480px) {
  .hero-image-title {
    font-size: 7rem;
    min-width: 40rem;
  }
}

.hero-image-title::before,
.hero-image-title::after,
span.hero-image-corners::before,
span.hero-image-corners::after {
  display: block;
  content: '';
  width: 3rem;
  height: 3rem;
  position: absolute;
}

.hero-image-title::before {
  top: -5rem;
  left: -5rem;
  border-top: 4px solid black;
  border-left: 4px solid black;
  transition: 1s all;
}

.hero-image-title::after {
  top: -5rem;
  right: -5rem;
  border-top: 4px solid black;
  border-right: 4px solid black;
  transition: 1s all;
}

span.hero-image-corners::before {
  bottom: -5rem;
  left: -5rem;
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  transition: 1s all;
}

span.hero-image-corners::after {
  bottom: -5rem;
  right: -5rem;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  transition: 1s all;
}

.hero-image-title:hover::before,
.hero-image-title:hover::after {
  width: 40rem;
  height: 30rem;
  border-color: goldenrod;
}

.hero-image-title:hover span.hero-image-corners::before,
.hero-image-title:hover span.hero-image-corners::after {
  width: 40rem;
  height: 30rem;
  border-color: goldenrod;
}

.hero-image-title:hover .hero-image-divider {
  border: 1px solid goldenrod;
  transition: 1s all;
}

.hero-image-divider {
  width: 50%;
  margin: 3rem auto;
  border: 2px solid white;
}