:root {
  --darkgoldenrod: #B8860B;
}

.footer-container {
  background-color: #f3f6fd;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(189, 196, 203);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul > li {
  padding: 4px;
  color: #c5cae9;
}

hr {
  border-width: 3px;
}

.card {
  padding: 2vh 7vw;
}

.policy > div {
  padding: 4px;
}

.heading {
  font-family: 'Titillium Web', sans-serif;
  color: black;
}

.divider {
  border-top: 2px solid;
}

#custom-gc {
  color: var(--darkgoldenrod);
}

.footer-text-color {
  color: var(--darkgoldenrod);
}

#social-follow-text {
  color: var(--darkgoldenrod);
  margin-right: 5rem;
}

#svg-footer-yt:hover,
#svg-footer-insta:hover {
  fill: var(--darkgoldenrod);
}

#svg-footer-yt,
#svg-footer-insta {
  padding: 1px;
}


