#custom-links {
  font-family: old standard tt;
  font-size: 24px;
}

#logoimg {
  width: 120px;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: goldenrod;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;
}

#svg-yt:hover {
  fill: red;
  transition: .5s ease-in-out;
}

#svg-insta:hover {
  fill: rgb(133, 74, 127);
  transition: .5s ease-in-out;
}

@media screen and (max-width: 768px) {
  #ins-soc,
  #yt-soc {
    display: none;
  }
}
