#custom-links {
  font-family: old standard tt;
  font-size: 24px;
}

#logoimg {
  width: 120px;
}

#instagram-logo {
  width: 60px;
}

#youtube-logo {
  width: 64px;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: goldenrod;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;
}


@media screen and (max-width: 768px) {
  #ins-soc,
  #yt-soc {
    display: none;
  }
}
